*.pyc
*.log
node_modules
coverage/
arches_pdf_exporting/logs
arches_pdf_exporting/export_deliverables
arches_pdf_exporting/cantaloupe/*
arches_pdf_exporting/staticfiles
arches_pdf_exporting/media/packages
arches_pdf_exporting/media/build/
arches_pdf_exporting/uploadedfiles/*
arches_pdf_exporting/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json
