{% extends "views/report-templates/default.htm" %}
{% load i18n %}
{% load static %}
{% load webpack_static from webpack_loader %}

{% block footer %}

<div class="report-footer-actions" style="background: #f8f8f8; display: flex; justify-content: space-between; padding: 0 20px;">
    <button type="button" class="btn btn-primary btn-sm" data-bind="click: exportSinglePdf">
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        {% trans "Export PDF" %}
    </button>
</div>

{% endblock footer %}